asgiref==3.3.1
awsebcli==3.19.3
botocore==1.19.63
cement==2.8.2
certifi==2020.12.5
chardet==3.0.4
colorama==0.4.3
Django==3.0.6
future==0.16.0
idna==2.10
jmespath==0.10.0
pathspec==0.5.9
python-dateutil==2.8.1
pytz==2020.5
PyYAML==5.3.1
requests==2.24.0
semantic-version==2.5.0
six==1.15.0
sqlparse==0.4.1
termcolor==1.1.0
urllib3==1.25.11
wcwidth==0.1.9
google-api-python-client==1.12.8
google-auth-httplib2==0.0.4
google-auth-oauthlib==0.4.2
boto3==1.16.0
